@model IEnumerable<AppView.ViewModels.DanhMucSanPhamViewModel>

@{
    ViewData["Title"] = "Index";
    List<string> extensions = new List<string>() { ".jpg", ".png", ".tiff", ".gif", "jpeg" };
    Layout = "AdminLayout";

}

<p>
    <a class="text-decoration-none btn btn-outline-primary float-end" asp-action="Create">Tạo mới danh mục</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.TenDM)</th>
            <th>@Html.DisplayNameFor(model => model.ImgUrl)</th>
            <th>@Html.DisplayNameFor(model => model.TrangThai)</th>
            <th>Tổng số sản phẩm</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.TenDM)</td>
                <td>
                    @{
                        var extension = System.IO.Path.GetExtension(item.ImgUrl);
                    }
                    @if (extensions.Contains(extension))
                    {
                        <img src="~/img/@item.ImgUrl" height="100px">
                    }
                    else
                    {
                        <img src="https://www.salonlfc.com/wp-content/uploads/2018/01/image-not-found-scaled-1150x647.png" height="100px">
                    }
                </td>
                <td>
                    @if (item.TrangThai)
                    {
                        
                        <span class="badge bg-success">Hàng tồn</span>
                    }
                    else
                    {
                        <span class="badge bg-danger">Ngừng nhập hàng</span>
                    }
                </td>
                <td>@item.TongSoLuongSanPham</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" })
                </td>
            </tr>
        }
    </tbody>
</table>
